.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0.8rem;
}

.input {
  width: 100%;
  font-size: 1.6rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--gray-color-40);
  resize: none;
  box-sizing: border-box;
}

/* 아이콘 */
.icon {
  position: absolute;
  top: 50%;
  left: 1.6rem;
  transform: translateY(-50%);
  font-size: 1.6rem;
  color: var(--gray-color-40);
  pointer-events: none;
}

/* input 전용 padding-left */
.wrapper:not(.textareaWrapper) .input {
  padding: 1.2rem 1.6rem 1.2rem 5rem;
}

/* textarea 전용 padding */
.textareaWrapper .input {
  padding: 0.2rem;
}

/******** Variant ********/
.primary {
  border: 0.1rem solid var(--gray-color-40);
  background-color: var(--gray-color-10);
}
.focused.primary {
  border: 0.2rem solid var(--brown-color-40);
}
.filled.primary .input {
  color: var(--gray-color-60);
}

.outline {
  border: 0.1rem solid var(--gray-color-40);
  background-color: transparent;
  color: var(--gray-color-40);
}
.filled {
  border: 0.2rem solid var(--brown-color-40);
  /* background-color: var(--gray-color-20); */
  color: var(--gray-color-60);
}

/******** Size ********/
.large .input {
  padding: 1.4rem 2rem 1.4rem 4.08rem; /* 아이콘 여백 고려 */
  font-size: 2rem;
}
.medium .input {
  padding: 1.2rem 1.6rem 1.2rem 4rem;
  font-size: var(--font-body-3);
}
.small .input {
  padding: 0.8rem 1.2rem 0.8rem 3.6rem;
  font-size: var(--font-caption-1);
}
.xsmall .input {
  padding: 0.6rem 0.8rem 0.6rem 32rem;
  font-size: 1.2rem;
}

/* textarea 전용 예외 처리 */
.textareaWrapper.large .input {
  padding: 1.6rem;
}
.textareaWrapper.medium .input {
  padding: 1.4rem;
}
.textareaWrapper.small .input {
  padding: 1.2rem;
}
.textareaWrapper.xsmall .input {
  padding: 1rem;
}

/******** Disabled ********/
.disabled {
  opacity: 0.5;
  pointer-events: none;
}
