/******** common ********/
button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  width: 100%;
  border: 0.2rem solid transparent;
  border-radius: 0.8rem;
  cursor: pointer;
  white-space: noWrap;
  background-color: transparent;
}

/******** button size ********/
.large {
  padding: 1.4rem 4.9rem;
  font-size: 2rem;
}
.medium {
  padding: 1.2rem 2.4rem;
  font-size: var(--font-body-3);
}
.small {
  padding: 0.8rem 1.2rem;
  font-size: var(--font-caption-1);
}
.xsmall {
  padding: 1.1rem 1.1rem;
}

/******** button variant ********/

/* primary */
.primary {
  background-color: var(--brown-color-40);
  color: var(--gray-color-10);
}
.primary:hover {
  border: 0.2rem solid var(--brown-color-50);
}
.primary:active {
  background-color: var(--brown-color-50);
}
.primary:disabled {
  border: 0.2rem solid transparent;
  background-color: var(--brown-color-30);
}

/* outline */
.outline {
  box-shadow: 0 0 0 0.1rem var(--brown-color-40);
  background-color: var(--brown-color-10);
  color: var(--brown-color-40);
}
.outline:hover {
  box-shadow: 0 0 0 0.2rem var(--brown-color-40);
}
.outline:active {
  box-shadow: 0 0 0 0.2rem var(--brown-color-40);
}
.outline:disabled {
  box-shadow: 0 0 0 0.1rem var(--brown-color-30);
  background-color: var(--brown-color-10);
  color: var(--brown-color-30);
}

/* round */
.round {
  background-color: var(--brown-color-40);
  color: var(--gray-color-10);
  border-radius: 20rem;
}

/******** etc variant ********/
.styleKakao {
  background-color: var(--yellow-color-50);
  color: #000;
  height: 100%;
}
.styleFacebook {
  background-color: var(--blue-color-50);
  color: #000;
  height: 100%;
}
.styleLink {
  background-color: var(--brown-color-40);
  color: #fff;
  height: 100%;
}
