/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 120rem;
  min-height: 5.7rem;
  margin: 0 auto;
  padding: 4rem 13rem 4.6rem;
  transition: all 0.5s;
  z-index: 100;
}
header button {
  margin-left: auto;
}
