html {
  font-family: "Pretendard Variable", Pretendard, "Noto Sans KR", sans-serif;
}
/******** Box shadow ********/
.shadow-1 {
  border: 0.1rem solid var(--gray-color-30);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(140, 140, 140, 0.25);
}
.shadow-2 {
  border: 0.1rem solid var(--gray-color-30);
  box-shadow: 0rem 0.4rem 0.4rem 0rem rgba(0, 0, 0, 0.25);
}
.shadow-3 {
  border: 0.1rem solid var(--gray-color-30);
  box-shadow: 0rem 1.6rem 2rem 0rem rgba(48, 48, 48, 0.62);
}
