/* Main page */
main:has(.homePage) {
  background: url(/image/homeBg.png) no-repeat bottom center;
  background-size: contain;
}
.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  padding-top: 2.3rem;
}
main:has(.homeForm) {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.homeForm {
  width: 40rem;
  height: 17.2rem;
  padding: 3.2rem;
  border-radius: 1.6rem;
  background-color: var(--gray-color-10);
}
.homeForm input {
  width: 100%;
}
.homeForm button {
  width: 100%;
  margin-top: 1.6rem;
}

@media (max-width: 767px) {
  .homePage {
    gap: 8.2rem;
    padding-top: 2rem;
  }
  .logo {
    width: 24.8rem;
  }
}

/*
.home-page {
  width: 100%;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
 .home-question-button {
  position: absolute;
  top: 45px;
  right: 130px;
}
.home-back-logo {
  position: absolute;
  width: 100%;
  height: 627px;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  z-index: 1;
}
.home-logo {
  width: 456px;
  height: 180px;
  margin: 160px auto 24px;
  display: block;
  flex-shrink: 0;
  z-index: 2;
} */

/* .home-form {
  width: 400px;
  border-radius: 16px;
  padding: 32px;

  background-color: white;
  margin: 0 auto 296px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  z-index: 1;
} */
/* @media (max-width: 1199px) and (min-width: 768px) {
  .home-question-button {
    position: absolute;
    top: 45px;
    right: 50px;
  }
}
@media (max-width: 767px) {
  .home-question-button {
    display: block;
    margin: 24px auto;
    position: static;
  }
  .home-back-logo {
    position: absolute;
    width: 100%;
    height: 239px;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
    z-index: 1;
  }
  .home-logo {
    width: 248px;
    height: 98px;
    margin: 80px auto 24px;
    display: block;
    flex-shrink: 0;
    z-index: 2;
  }

  .home-form {
    width: 305px;
    border-radius: 16px;
    padding: 24px;

    background-color: white;
    margin: 0 auto 195px;

    display: flex;
    flex-direction: column;
    gap: 16px;

    z-index: 1;
  }
} */
